* {
    margin: 0;
    padding: 0;
    text-decoration: none;
	box-sizing: border-box;
    }
body {
font-family: sans-serif;
font-size: 16px;    
background-image: url(images/pattern-background-desktop.svg);
background-size: contain;
background-repeat: no-repeat;
background-position: top;
background-color:#dee8fb;

}
.container{
        text-align: center;
        position: relative;
        background-color: #ffffff;
        width: 400px;
        height: 580px;
        top: 5vh;
        margin: 0 auto;
        border-radius: 20px;
        overflow: hidden;     
}
.header_card {
    width: 100%;
}
.order_title{
    padding: 20px 20px 20px 20px;
}
.card_body{
    padding: 0px 40px 10px 40px;
}
#card_pricing{
    margin: 10px 40px 10px 40px;
    padding: 10px 0px 10px 10px;
    border-radius: 10px;
    background-color:#f3f3f3;
    display: grid;
    grid-template-columns: 20% 30% 70%;
    align-items: center;
    line-height: 24px;
}
.change_plan{
    color:#746bf1;
    font-weight: 600;
}
.footer_card{
    padding: 20px 20px 20px 20px;
    display: inline-grid;
    grid-template-rows: 40px 630px;
}
.btn-success{
    background-color: #746bf1;
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 10px 100px 10px 100px;
}
span{
    margin-top: 10px;
    font-weight: 600;
}
p{
    color: #969696;
}