*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.50%;
}
body{
    background: hsl(257, 40%, 49%);
    background-image: url(images/bg-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -70px 0px;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}
.header__container{
    padding: 4.5rem 6.5rem;
    font-family: 'Poppins', sans-serif;
}
.header__container--logo{
    width: 180px;
}
/* main styles */
.main__container{
    padding: 4.5rem 6.5rem;
}
.sections {
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 30px;
}
.row__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    justify-content: center;
}
.img__mockup{
    width: 100%;
}
h1{ 
    color: #fff;
    font-size: 4.0rem;
}
p{
    color: #fff;
}
.btn__register{
    background-color: #fff;
    color:hsl(257, 40%, 49%);
    border-radius: 50px;
    padding: 12px 60px 12px 60px;
    display: inline-block;
    text-decoration: none;
    box-shadow: 2px 2px 8px 2px rgb(0 0 0 / 39%);
}
.btn__register:hover{
    background-color: hsl(300, 69%, 71%);
    color: #fff;
}
/* footer styles */
footer{
    padding-right: 6.5rem;
    padding-bottom: 4rem;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}
.fab {
    color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px 10px;
}
.fa-facebook-f{
    padding: 10px 13px;
}
/* responsive tablets */
@media (max-width: 1024px){
    .sections {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .img__mockup{
        width: 80%;
        margin: auto;
    }
}
/* responsive mobi;e */
@media (max-width: 776px){
    .img__mockup{
        width: 100%;
        margin: auto;
    }
    .header__container{
        padding: 2.5rem 4.5rem;
        font-family: 'Poppins', sans-serif;
    }
    .main__container {
        padding: 3.5rem 4.5rem;
    }
    .row__left{
        text-align: center;
    }
    .btn__register{
        margin: 0 auto;
    }
    footer{
        padding: 4rem 0;
    }
    .social-icons {
     justify-content: center;
    }
}
